.header{
    background: #cdcdcd;
}
.message{
    margin: 10px;
}
.good{
    background-color: mediumseagreen;
}
.bad{
    background-color: indianred;
}

.user_list{
    border-collapse: collapse;
}

.user_list th, .user_list td {
    border: 1px solid #cdcdcd;
    padding: 5px;
}